form(action="/login" method="POST")
  div(class="row")
    div(class="six columns")
      label(for="exampleEmailInput") Your email
      input(class="u-full-width" type="email" name="username" placeholder="Username or email" id="username")
    div(class="six columns")
      label(for="exampleEmailInput") password
      input(class="u-full-width" type="email" name="password" placeholder="Password" id="password")
    input(class="button-primary" type="submit" value="Submit")
