extends layout

block content
    div(class="container mt-2 tweleve columns")
        div(class="row   tweleve columns")
            div(class=" pallete pallete-w-xl pallete-h-md mb-2")
                div(class="row tweleve columns")
                    div(class="tweleve columns")
                        h6(class="tweleve columns text-center")  CURRENT WEATHER
                    div(class="tweleve columns mt-1")
                        ul(class="no-bullets")
                            li
                                p Access current weather data for any location including over 200,000 cities
                            li
                                p Current weather is frequently updated based on global models and data <br>from more than 40,000 weather stations
                    div(class="tweleve columns text-center")
                        a(class="button button-primary" href="/weather")
                            p know weather

    div(class="container mt-2 tweleve columns")
        div(class="row   tweleve columns")
            div(class=" pallete pallete-w-xl pallete-h-md mb-2")
                div(class="row tweleve columns")
                    div(class="tweleve columns")
                        h6(class="tweleve columns text-center")  5 DAY WEATHER FORCAST
                    div(class="tweleve columns mt-1")
                        ul(class="no-bullets")
                            li
                                p 5 day forecast is available at any location or city
                            li 
                                p 5 day forecast includes weather data every 3 hours
                    div(class="tweleve columns text-center")
                        a(class="button button-primary" href="/weather")
                            p 5 day weather                               
    